
body{
  height: 100vh;
}

p{

  text-align: center;
  margin: 0 15rem;
}



.App{

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 30%;
  height: 30%;
}
